<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: lightgreen">
    <center>
        <h1 style="font-family: Impact">
            Leadbook Backend Engineer | Programming Task
        </h1>
        <h3>
            1. Activate MongoDB server: <br>
            $ cd C:\Program Files\MongoDB\Server\3.6\bin<br>
            $ mongod <br>
            <br>
        
           Open new terminal, type:<br>
            $ cd C:\Program Files\MongoDB\Server\3.6\bin<br>
            $ mongo<br>
            <br>
        
        2. run server<br>
            $ python API_company_index.py<br>
        
           it will automatically create database & collection for you!<br>
        </h3>
        <h4>
            this link go to homepage<br>
            http://127.0.0.1:5000/<br>
            <br>

            this link go to the all company data<br>
            http://127.0.0.1:5000/company_all<br>
            <br>

            this link will search company name<br>
            http://127.0.0.1:5000/company_name?name="search company name"<br>
            <br>

            this link will search url name<br>
            http://127.0.0.1:5000/url_name?url="search url name"<br>
            <br>

            this link will search crawled date<br>
            http://127.0.0.1:5000/crawled_on?crawled="search crawled date"<br>
        </h4>
    </center>
</body>
</html>