<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: lightgreen">
    <center>
        <h1 style="font-family: Impact">
            Leadbook Backend Engineer | Programming Task
        </h1>
        <h3>
            1. Activate MongoDB server: <br>
            $ cd C:\Program Files\MongoDB\Server\3.6\bin<br>
            $ mongod <br>
            <br>
        
           Open new terminal, type:<br>
            $ cd C:\Program Files\MongoDB\Server\3.6\bin<br>
            $ mongo<br>
            <br>
        
        2. run server<br>
            $ python API_company_profile.py<br>
        
           it will automatically create database & collection for you!<br>
        </h3>
        <h4>
            this link go to homepage<br>
            http://127.0.0.1:5000/<br>
            <br>

            this link go to the all company data<br>
            http://127.0.0.1:5000/company_all<br>
            <br>

            this link will search company name<br>
            http://127.0.0.1:5000/company_name?name="search company name"<br>
            <br>

            this link will search company address<br>
            http://127.0.0.1:5000/company_address?address="search company address"<br>
            <br>

            this link will search company descriptions<br>
            http://127.0.0.1:5000/company_descriptions?desc="search company descriptions"<br>
            <br>

            this link will search company email<br>
            http://127.0.0.1:5000/company_email?email="search company email"<br>
            <br>

            this link will search company phone<br>
            http://127.0.0.1:5000/company_phone?phone="search company phone"<br>
            <br>

            this link will search company fax<br>
            http://127.0.0.1:5000/company_fax?fax="search company fax"<br>
            <br>

            this link will search company web<br>
            http://127.0.0.1:5000/company_web?web="search company web"<br>
            <br>

            this link will search company maps<br>
            http://127.0.0.1:5000/company_maps?maps="search company maps"<br>
            <br>

            this link will search company products<br>
            http://127.0.0.1:5000/company_products?products="search company products"<br>
            <br>

            this link will search company categories<br>
            http://127.0.0.1:5000/company_categories?categories="search company categories"<br>
            <br>
        </h4>
    </center>
</body>
</html>